/* primo quadrato */
.ex-1-square{
    transition: all 0.5s ease 0s;
}

.ex-1-square:hover{
    background-color: red;
}
/* primo quadrato */

/* secondo quadrato */
.ex-2-square{
    cursor: pointer;
}

.ex-2-square:active{
    animation: allungamento 5s ease-in;
}

@keyframes allungamento {
    0%{
        width: 100px;
        height: 100px;
    }

    100%{
        width: 100%;
        height: 100px;
    }
}
/* secondo quadrato */

/* terzo quadrato */
.ex-3-square{
    transition: all 0.5s ease;
}

.ex-3-square:hover{
    border-radius: 50px;
}
/* terzo quadrato */

/* quarto quadrato */
.ex-4-square{
    transition: all 0.5s ease;
}

.ex-4-square:hover{
    opacity: 0;
}
/* quarto quadrato */

/* quinto quadrato */
.ex-5-square{
    transition: all 0.5s ease;
    cursor: pointer;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(.5);
}
/* quinto quadrato */


/* prima foto */
.ex-6-img:hover{
    filter: grayscale(1);
}
/* prima foto */

/* seconda foto */
.ex-7-img{
    transition: all 0.5s ease;
}

.ex-7-img:hover{
    filter: contrast(1) sepia(1);
}
/* seconda foto */

/* terza foto */
.ex-8-img{
    transition: all 0.5s ease;
}

.ex-8-img:hover{
    filter: saturate(10) contrast(5);
    border-radius: 30px;
}
/* terza foto */

/* quarta foto */
.ex-9-img{
    transition: all 0.5s ease;
}

.ex-9-img:hover{
    filter: saturate(10) contrast(5);
    border-radius: 30px;
    width: 350px;
}
/* quarta foto */


/* prima rotazione */
.ex-10-icon{
    animation-name: rotate;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);
    transform: rotate(360deg);}
}
/* prima rotazione */

/* seconda rotazione */
.ex-11-icon {
    animation: rotate2 2s linear infinite;
}
@keyframes rotate2 {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* seconda rotazione */


/* primo tasto */
.ex-12-top-white{
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 0.5s;
}

@keyframes run {
    0%{
        left: 10%;
    }

    100%{
        left: 40%
    }
}

.ex-12-bottom-white{
    animation: linear infinite alternate;
    animation-name: run2;
    animation-duration: 0.5s;
}

@keyframes run2 {
    0%{
        right: 20%;
    }

    100%{
        right: 50%
    }
}
/* primo tasto */

/* secondo tasto */
.ex-13-top-white {
    animation: move 3s linear infinite;
}
@keyframes move {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-bottom-white {
    animation: move2 3s linear infinite;
}
@keyframes move2 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
/* secondo tasto */
