/* primo quadrato */
.ex-1-square{
    transition: all 0.2s ease 0s;
}

.ex-1-square:hover{
    background-color: red;
}
/* primo quadrato */

/* secondo quadrato */
.ex-2-square{
    cursor: pointer;
}

.ex-2-square:hover{
    animation: allungamento 5s ease-in;
}

@keyframes allungamento {
    0%{
        width: 100px;
        height: 100px;
    }

    100%{
        width: 100%;
        height: 100px;
    }
}
/* secondo quadrato */

/* terzo quadrato */
.ex-3-square{
    transition: all 0.5s ease;
}

.ex-3-square:hover{
    border-radius: 50px;
}
/* terzo quadrato */

/* quarto quadrato */
.ex-4-square{
    transition: all 0.5s ease;
}

.ex-4-square:hover{
    width: 0;
    height: 0;
}
/* quarto quadrato */

/* quinto quadrato */
.ex-5-square{
    transition: all 0.5s ease;
}

.ex-5-square:hover{
    width: 200px;
    height: 200px;
}
/* quinto quadrato */

/* prima foto */
.ex-6-img:hover{
    filter: grayscale(1);
}
/* prima foto */

/* seconda foto */
.ex-7-img{
    transition: all 0.5s ease;
}

.ex-7-img:hover{
    filter: contrast(1) sepia(1);
}
/* seconda foto */

/* terza foto */
.ex-8-img{
    transition: all 0.5s ease;
}

.ex-8-img:hover{
    filter: saturate(10) contrast(5);
    border-radius: 30px;
}
/* terza foto */

/* quarta foto */
.ex-9-img{
    transition: all 0.5s ease;
}

.ex-9-img:hover{
    filter: saturate(10) contrast(5);
    border-radius: 30px;
    width: 350px;
}